:root {
  --border-color: rgba(0, 0, 0, 0.1);
  --background-color: #f1f1f1;
  --transition: all 0.2s ease;
}

.accordion {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px 30px;
  position: relative;
}

.accordion::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 3px;
  background: var(--main-color);
  opacity: 0.7;
}

.accordion .accordion-item {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.accordion .accordion-item .accordion-item-description-wrapper hr {
  border: none;
  border-top: 1px solid var(--border-color);
  visibility: visible;
}

.accordion .accordion-item.open .accordion-item-description-wrapper hr {
  visibility: visible;
}

.accordion .accordion-item .accordion-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.accordion .accordion-item .accordion-item-header .accordion-item-header-title {
  width: 472px;
  height: 45px;
  top: 16px;
  left: 903.5px;
  gap: 0px;
  opacity: 0px;
}

.accordion .accordion-item .accordion-item-header .accordion-item-header-icon {
  transition: var(--transition);
}

.accordion .accordion-item.open .accordion-item-header .accordion-item-header-icon {
  transform: rotate(-180deg);
}

/* code me Rashad */
.accordion-item-header-title {
  font-size: 16px;
  font-weight: 600;
}

.accordion-item.open .accordion-item-header-title {
  color: var(--main-color);
  transition: 0.3s;
}
.accordion-item-description hr {
  display: none !important;
}
.accordion .accordion-item .accordion-item-description-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: var(--transition);
}

.accordion .accordion-item.open .accordion-item-description-wrapper {
  grid-template-rows: 1fr;
}

.accordion .accordion-item .accordion-item-description-wrapper .accordion-item-description {
  min-height: 0;
}

.accordion .accordion-item .accordion-item-description-wrapper .accordion-item-description p {
  padding: 10px;
  line-height: 1.5;
}
@media (width < 1000px) {
  .accordion {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (width < 690px) {
  .accordion::after {
    display: none;
  }
}
@media (width < 500px) {
  .accordion-item-description p {
    font-size: 14px;
    line-height: 25px !important;
  }
}

/* me */
.accordion-item-description-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-item.open .accordion-item-description-wrapper {
  max-height: 1000px; /* أو أي قيمة كبيرة بما يكفي لاحتواء المحتوى */
}
